* {
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

body {
    color: white;
}

.rows > div {
    margin-bottom: 8px;
}

.rows1{
    background-color: rgb(71, 71, 71);
}

input,
textarea {
    color: black;
}

.hidden {
    display: none !important;
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-footer {
    color: gray;
    font-size: small;
}

.title {
    margin-right: 8px;
}

.username-star-container {
    display: flex;
    gap: 30px;
}

.edit-review-buttons {
    display: flex;
    gap: 20px;
}

.show-user-review {
    background-color: rgb(39, 39, 39);
    border: rgb(112, 112, 112) solid 2px;
    width: 100vh;
    justify-self: center;
    padding: 10px;
}

.delete-user-review-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 230px;
}

.delete-user-review-btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.2s;
}

.edit-user-review-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 230px;
}

.edit-user-review-btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.2s;
}

header {
    height: 100px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
}

.header1 {
    height: 100px;
    background-color: rgb(37, 37, 37);
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-end;
}

.thereview {
    background-color: rgb(77, 77, 77);
    padding: 5px;
    border: 2px solid rgb(133, 133, 133);
}

.reviewheaders {
    display: flex;
    gap: 20px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-container {
    color: white;
}

.error_message {
    color: white;
    margin-bottom: 10px;
}

.user-name {
    color: aliceblue;
    width: 20px;
    margin-left: 30px;
}

.headercontent {
    width: 54.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgba(240, 248, 255, 0.726);

}

a:hover {
    color: rgb(158, 0, 0);
}

.content_container {
    border: white solid 2px;
    width: 80%;
    /* height: 400px; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

textarea {
    resize: none;
    outline: none;
}

.review-form {
    border: rgb(112, 112, 112) solid 5px;
    padding-top: 30px;
    background-color: rgb(43, 43, 43);
    justify-self: center;
    width: 102vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.edit-review-form {
    border: rgb(112, 112, 112) solid 5px;
    padding-top: 30px;
    background-color: rgb(43, 43, 43);
    justify-self: center;
    width: 102vh;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.edit-review-form p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.review-form p {
    font-size: 30px;
    color: white;
    text-align: center;
}

.edit-review-form .edit-review {
    height: 200px;
    width: 50%;
    align-self: center;
}

.review-form .review {
    height: 200px;
    width: 50%;
    align-self: center;
}

.star {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 5vh;
}

.edstar {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 5vh;
}

.colored {
    color: rgb(251, 255, 0);
}

.stars {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.reviews-container {
    border: rgb(112, 112, 112) solid 2px;
    width: 100vh;
    padding: 10px;
    justify-self: center;
}

.content-type {
    color: white;
}

.content-page-wrapper {
    /* border: white solid 2px; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    border: rgb(112, 112, 112) solid 2px;
    padding-left: 30px;
    padding-right: 30px;
}

.content-page-poster {
    /* border: white solid 2px; */
    height: 65vh;
    width: 45vh;
    overflow: hidden;
}

.content-page-poster-edit {
    /* border: white solid 2px; */
    height: 65vh;
    width: 45vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-page-desc {
    /* border: white solid 2px; */
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.content-page-title {
    color: white;
    display: flex;
    flex-direction: row;
}

.RHS-edit {
    /* border: rgb(255, 0, 0) solid 2px; */
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 50vh;
    margin-left: 10px;
    gap: 20px;
}


.RHS {
    /* border: rgb(255, 0, 0) solid 2px; */
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 50vh;
    margin-left: 10px;

}

.signin_btn {
    color: black;
}

.content-page-name {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
    width: 90%;
    text-wrap: wrap;
    /* word-break: break-all; */
    height: 100px;
    /* border: white solid 2px; */
}

.content-page-rating {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100px;
}

.card {
    border: 2px white solid;
    width: 250px;
    min-height: 367px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.movie-card-text {
    color: white;
    text-wrap: wrap;
    word-break: break-all;
}

.movie-card-image {
    border: 2px white solid;
    height: 300px;
    width: 99%;
    overflow: hidden;
}

.edit-content .content_name {
    width: 350px;
}

.edit-content .content-select {
    width: 370px;
    color: black;
    text-align: center;
    height: 30px;
}

.edit-content {
    color: black;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addcontent {
    color: black;
    justify-content: center;
    align-items: center;
    /* border: white solid 2px; */
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addcontent select {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 350px;
    height: 30px;
    text-align: center;
    outline: none;
}

.addcontent p {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 270px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.selectfile {
    color: aliceblue;
    height: 25px;
}

.addcontent input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 350px;
}

.posterwrapperedit {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.posterwrapper {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-select-edit {
    color: black;
    width: 100px;
    height: 30px;
}

.content-select-edit-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
}

.content_description_edit {
    font-weight: bold;
    color: black;
    width: 400px;
    height: 200px;
    font-size: large;
    padding-left: 20px;
    outline: none;
}

.content_description {
    font-weight: bold;
    color: black;
    width: 350px;
    height: 200px;
    font-size: large;
    padding-left: 20px;
    outline: none;
}

.content_name {
    color: black;
    display: flex;
    height: 30px;
}

.content_name_edit {
    color: black;
    display: flex;
    height: 30px;
    width: 400px;
}

.maincontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text_content {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_genre_text {
    color: rgba(255, 255, 255, 0.726);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}


.genre-select {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background-color: aliceblue;
    color: rgb(119, 0, 0);
    font-weight: bold;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.allcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

body {
    overflow-x: hidden;
    background-color: rgb(54, 54, 54);
}

.SignInPageButton {
    width: 60px;
}

.SignInPageButton:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}

.FormSection {
    height: 600px;
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FormSection h1 {
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-page-title-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-content p {
    color: white;
}

.editContent {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 230px;
}

.edit-page-sign {
    margin-top: 10px;
    font-size: 30px;
}

.edit-page-sign-wrapper {
    display: flex;
    justify-content: center;
}

.contentPageAdminBtns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(43, 43, 43);
    width: 102vh;
}

.editContent:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
    background-color: rgb(139, 0, 0);
}

.deleteContent {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 230px;
}

.deleteContent:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
    background-color: rgb(139, 0, 0);
}

.addreview_profile {
    margin-right: 10px;
    display: flex;
    width: 180px;
    gap: 5px;
    justify-self: flex-end;
    justify-content: flex-end;
    align-items: center;

}

.wrapper_movies_games {
    display: flex;
    justify-content: center;
    justify-self: center;
    gap: 20px;
}

.addreviewbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 115px;
    height: 40px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background: none;
    text-decoration: none;
    border: 2px solid white;
}

.signOutlogoButton {
    width: 30px;
    border: 2px white solid;
    padding: 5px;
    border-radius: 10px;
}

.signOutlogoButton:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.submit-edit-review {
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 300px;
    margin-bottom: 10px;
}

.submit-edit-review:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
    background-color: rgb(139, 0, 0);
}

.edit-review-title {
    height: 30px;
}

.review-title {
    height: 30px;
}

.submit-review {
    margin-bottom: 10px;
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 300px;
}

.submit-review:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
    background-color: rgb(139, 0, 0);
}

.createpostbutton {
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 300px;
}

.createpostbutton:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
    background-color: rgb(139, 0, 0);
}


.addreviewbtn:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.homepagebtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 115px;
    height: 40px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background: none;
    text-decoration: none;
    border: 2px solid white;
}

.homepagebtn:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.addcontentbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 115px;
    height: 40px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background: none;
    text-decoration: none;
    border: 2px solid white;
    display: none;
}

.addcontentbtn:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.SignIn {
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
}

.errorMessage {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Register {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

input {
    width: 400px;
    height: 300px;
    font-size: large;
    padding-left: 20px;
    outline: none;
}

.SignInButton {
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.SignInButton:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.CreateAccountButton {
    color: rgb(255, 240, 240);
    text-decoration: underline;
}

.CreateAccountButton:hover {
    cursor: pointer;
}

.signin_btn {
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 300px;
}

.signin_btn:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

.RegisterAccountButton {
    color: rgb(255, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 300px;
}

.RegisterAccountButton:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}